$img-path: "../../img"

//== Colors
$color-primary: #424242
$color-primary-dark: #212121
$color-primary-light: #eeeeee
$color-accent: #ff9100
$color-accent-dark: #ff6d00

$brand-primary: $color-accent
$brand-success: #64dd17
$brand-info: #00bfa5
$brand-warning: #ffd600
$brand-danger: #d50000

$text-black: transparentize(#000, 0.13)
$text-black-secondary: transparentize(#000, 0.46)
$text-black-muted: transparentize(#000, 0.74)
$text-black-dividers: transparentize(#000, 0.88)

$text-white: #fff
$text-white-secondary: transparentize(#fff, 0.3)
$text-white-muted: transparentize(#fff, 0.7)
$text-white-dividers: transparentize(#fff, 0.88)

$material-color: #363739
$material-z-shadow-opacity-base: 0.2

$main-background-color: $material-color

$text-color: $text-white
$text-color-modal: $text-black

$border-radius-small: 0
$border-radius-base: 0
$border-radius-large: 0

$link-hover-color: $color-accent-dark
$link-hover-decoration: none

//== Navbar
$navbar-default-bg: $color-primary
$navbar-default-link-color: $text-white-secondary
$navbar-default-link-hover-color: $text-white
$navbar-default-link-active-color: $text-white
$navbar-default-link-active-bg: $navbar-default-bg

$navbar-default-color: $text-white-secondary

//== Buttons
$btn-default-color: $text-white
$btn-default-border: transparent

//== Type
$text-muted: $text-white-muted

//== Form states and alerts
$state-success-bg: $brand-success
$state-info-bg: $brand-info
$state-warning-bg: $brand-warning
$state-danger-bg: $brand-danger

//== Forms
$input-color: $text-white
$input-border: $text-white-muted
$input-border-focus: $color-accent
$input-color-placeholder: $text-white-muted

//== Modals
$modal-content-bg: transparentize(#000, 0.15)

@import "../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap/variables"

$input-height-base: ($line-height-computed + ($padding-base-vertical * 5) + ($font-size-base * 0.8) + 2)